/**
 * Jetpack (plugin)
 * @link https://jetpack.me/
 * -----------------------------------------------------------------------------
 */

/* Gutters */
/* Media Break Points */


/* Comments
------------------------------------------------------------------------------*/

.highlander-enabled .comments-header + #respond {
	margin-bottom: 0;
	padding-bottom: 60px;
	padding-top: 60px;
}

.highlander-enabled .comment-respond .required {
	position: static;
	right: 0;
	bottom: 0;
}

@media (min-width: 481px) {
	.highlander-enabled .comment-form-author,
	.highlander-enabled .comment-form-email {
		float: none;
	}
}

@media (min-width: 1080px) {
	.highlander-enabled #respond.comment-respond {
		margin-left: auto;
		margin-right: auto;
		padding-left: 240px;
		padding-right: 240px;
	}
}


/* Contact Forms
------------------------------------------------------------------------------*/

.content-area .contact-form {
	margin: 0 0 1.61111111em;
}

.content-area .contact-form > div {
	margin-bottom: 1.11111111em;
}

.content-area .contact-form label {
	margin-bottom: 0.27777778em;
}

.content-area .contact-form label.checkbox,
.content-area .contact-form label.radio {
	font-weight: 400;
}

.content-area .contact-form label span {
	color: rgba(0, 0, 0, 0.22);
	font-size: 80%;
}

.content-area .contact-form input[type="checkbox"],
.content-area .contact-form input[type="email"],
.content-area .contact-form input[type="radio"],
.content-area .contact-form input[type="text"],
.content-area .contact-form select,
.content-area .contact-form textarea {
	margin-bottom: 0;
}

.content-area .contact-form textarea {
	width: 100%;
}


/* Galleries
------------------------------------------------------------------------------*/

.gallery-row {
	margin: 0 auto;
}

.tiled-gallery {
	margin: 0 0 2.07142857em;
}

.tiled-gallery-item > a {
	display: block;
	opacity: 1;
	overflow: hidden;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
}

.tiled-gallery-item > a:hover {
	opacity: 0.6;
}

.slideshow-window {
	background-color: transparent;
	border-color: transparent;
}


/* Infinite Scroll
------------------------------------------------------------------------------*/

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle,
.infinite-loader {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	clear: both;
	font-size: 1.44444444em;
	font-weight: 700;
	line-height: 1.25;
}

#infinite-handle {
	color: rgba(0, 0, 0, 0.9);
	margin: 0 -20px;
	padding: 0.57692308em 20px;
	text-transform: uppercase;
	-webkit-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}

#infinite-handle:hover,
#infinite-handle:focus {
	background-color: rgba(0, 0, 0, 0.02);
}

#infinite-handle > span {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	position: relative;
}

#infinite-handle span {
	background: transparent;
	color: rgba(0, 0, 0, 0.9);
	display: block;
	font-size: 1em;
	padding: 0;
	vertical-align: middle;
}

#infinite-handle span:hover,
#infinite-handle span:focus {
	color: #00b7e6;
}

#infinite-handle span span {
	color: inherit;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	margin-right: 0.38461538em;
}

.infinite-loader {
	margin: 0 auto;
	padding: 1.23076923em 20px;
}

.infinite-loader .spinner {
	display: none;
	visibility: hidden;
}


/* Responsive Jetpack
------------------------------------------------------------------------------*/

@media (min-width: 768px) {
	#infinite-handle {
		padding-bottom: 1.07692308em;
		padding-top: 1.07692308em;
	}

	.infinite-loader {
		padding-bottom: 1.65384615em;
		padding-top: 1.65384615em;
	}
}

@media (min-width: 1024px) {
	#infinite-handle {
		padding-bottom: 1.65384615em;
		padding-top: 1.65384615em;
	}

	.infinite-loader {
		padding-bottom: 2.23076923em;
		padding-top: 2.23076923em;
	}
}


/* Widgets (includes WP.com widgets)
------------------------------------------------------------------------------*/

/* Gravatar Profiles */
.widget-grofile a {
	text-decoration: underline;
}

.widget-grofile .grofile-accounts li:before {
	display: none;
}

.widget-grofile .grofile-links li {
	display: inline-block;
}

.widget-grofile .grofile-links li + li:before {
	content: "\00B7";
	display: inline-block;
	margin: 0 0.55555556em;
}

/* Author Grid */
.widget_author_grid li {
	display: inline-block;
	margin: 0 0.55555556em 1.11111111em;
}

/* Authors */
.widget_authors a {
	display: block;
	margin-bottom: 1.61111111em;
}

.widget_authors ul {
	list-style: none;
	padding: 0;
}

.widget_authors ul ul {
	margin-bottom: 1.61111111em;
}

.widget_authors ul ul a {
	display: inline;
	margin-bottom: 0;
}

.widget_authors .avatar {
	display: block;
	margin: 0 0 0.55555556em;
}

/* Blog Stats */
.widget_blog-stats {
	list-style: none;
}

/* Facebook Likebox */
.widget_facebook_likebox iframe {
	margin-bottom: 0;
}

/* Goodreads */
.gr_custom_widget h2,
.gr_custom_widget > div > div {
	margin-bottom: 1.61111111em;
}

/* My Community */
.widget_jetpack_my_community .avatar {
	border-radius: 100%;
	display: block;
}

.widget_jetpack_my_community .widgets-multi-column-grid ul li {
	display: inline-block;
	float: none;
	padding: 0 0.55555556em 1.11111111em;
}

/* Posts I Like */
.widget_jetpack_posts_i_like .widget-grid-view-image {
	display: inline-block;
	float: none;
	max-width: 33%;
}

.widget_jetpack_posts_i_like .widget-grid-view-image a {
	margin: 0 0.55555556em 1.11111111em;
	opacity: 1;
}

.widget_jetpack_posts_i_like .widget-grid-view-image a:hover,
.widget_jetpack_posts_i_like .widget-grid-view-image a:focus {
	opacity: 0.6;
}

/* Subscription */
.widget_blog_subscription h3 label {
	color: inherit;
}
